<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-03-12T18:11:46Z</date>
	<key>WorkspacePath</key>
	<string>/Users/samkaufman/Desktop/EECS 183/Projects/Project 4/Project 4.xcodeproj</string>
</dict>
</plist>
